<a href="https://colab.research.google.com/github/Official-saran/Official-saran/blob/main/python_basics_dayOne.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
input_string=input("Enter a string: \n")
length=len(input_string)
if length < 3:
    print("Input string is too short to extract the middle three characters.\n")
else:
    middle_index = length // 2
    if length % 2 == 0:
        middle_three = input_string[middle_index - 1: middle_index + 2]
    else:
        middle_three = input_string[middle_index - 1: middle_index + 2]
    new_string = middle_three
    print("New string:\n", new_string)

Enter a string:
saran
New string:
 ara

In [2]:
input_string=input("Enter a string: \n")
length=len(input_string)
if length % 2 == 0:
    middle=input_string[length // 2 - 1: length // 2 + 1]
else:
    middle = input_string[length // 2]
new_string = input_string[0] + middle + input_string[-1]
print("New string:\n", new_string)

Enter a string:
saran
New string:
 srn

In [3]:
str1 = input("Enter a string :")

chars_count = 0
digits_count = 0
symbols_count = 0

for char in str1:
    if char.isalpha():
        chars_count += 1
    elif char.isdigit():
        digits_count += 1
    else:
        symbols_count += 1

print("Total counts of chars, digits, and symbols")
print("Chars =", chars_count)
print("Digits =", digits_count)
print("Symbols =", symbols_count)

Enter a string :saran@251@life
Total counts of chars, digits, and symbols
Chars = 9
Digits = 3
Symbols = 2

In [4]:
s1 = input("Enter string_1: \n")
s2 = input("Enter string_2: \n")
s3 = ""
len_s1 = len(s1)
len_s2 = len(s2)
min_length = min(len_s1, len_s2)

for i in range(min_length):
    s3 += s1[i] + s2[-(i+1)]

if len_s1 > min_length:
    s3 += s1[min_length:]

if len_s2 > min_length:
    s3 += s2[:-(min_length+1):-1]

print("New string:", s3)

Enter string_1:
ABC
Enter string_2:
abc
New string: AcBbCa

In [5]:
str1 = input("Enter the first string (str1): ")
str2 = input("Enter the second string (str2): ")
middle_index = len(str1) // 2
str3 = str1[:middle_index] + str2 + str1[middle_index:]
print("New string:", str3)

Enter the first string (str1): saran
Enter the second string (str2): ya
New string: sayaran

In [6]:
marked_price = float(input("Enter the marked price: \n"))
if marked_price > 10000:
    discount = 0.20
elif marked_price > 7000:
    discount = 0.15
else:
    discount = 0.10
net_amount = marked_price - (discount * marked_price)
print(f"The net amount to pay after discount is: {net_amount:.2f}")

Enter the marked price:
5000.00
The net amount to pay after discount is: 4500.00

In [7]:
units = int(input("Enter the number of units: "))
if units <= 100:
    bill = 0
elif units <= 200:
    bill = (units - 100) * 5
else:
    bill = (100 * 5) + (units - 200) * 10

print(f"The total electricity bill is: Rs.{bill}")

Enter the number of units: 150
The total electricity bill is: Rs.250

In [8]:
years_of_experience = float(input("Enter the employee's years of experience: \n"))
salary = float(input("Enter the employee's salary: \n"))

if years_of_experience > 8:
    bonus_percentage = 10
elif years_of_experience > 4:
    bonus_percentage = 7
elif years_of_experience > 2:
    bonus_percentage = 4
else:
    bonus_percentage = 0

bonus_amount = (bonus_percentage / 100) * salary
print(f"The employee's bonus is: {bonus_amount:.2f}")

Enter the employee's years of experience:
10
Enter the employee's salary:
20000
The employee's bonus is: 2000.00